In [1]:
import numpy as np
import pandas as pd
import os

In [3]:
#crate paths for csv files
CURR_DIR = os.getcwd()
print(CURR_DIR)
orders_path = os.path.join(CURR_DIR, 'Zlecenia.csv')

/Users/w.szczawinski/Projects/DS_final_project

In [4]:
#upload data
orders_df = pd.read_csv(orders_path, sep=';')

In [5]:
orders_df.head(10)

,No,Description,Weight_for_1,Quantity,Typ,Finnish_week,Active,work_preparation_Plan,work_preparation_done,Pre_fabrication_plan
0,1,2320,3360,1,B,201618,0,201552,42324,201602
1,2,2320,3360,1,B,201621,0,201604,42324,201606
2,3,3230,6400,1,B,201615,0,201605,42345,201607
3,4,2830,6230,2,C,201626,0,201603,42164,201604
4,5,2625,5000,2,C,201617,0,201605,42325,201607
5,6,2425,4260,2,C,201619,0,201603,42325,201605
6,7,2825,5380,2,B,201615,0,201603,42327,201605
7,8,3535,8540,2,B,201612,0,201602,42327,201604
8,9,1566,1120,2,B,201621,0,201551,42328,201553
9,10,3636,9050,1,B,201644,0,201620,42331,201622